In [8]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pyautogui as p
import time

import requests

### Historical data from the odds api, but i have to pay. Worst case ill pay, if im not able to scrap from betting pros

In [4]:
import requests
base_url = "https://api.the-odds-api.com/v4/sports/basketball_nba/events/"
API_KEY = '8aa8bb1fc5d56c98b45d6f3f58beab70'
Sport = 'basketball_nba'
Regions = 'us'
Market = 'h2h,odds'
Odds_format = 'american'
Date_format = 'iso' 
date = '2021-10-22T22:45:00Z'
id = '34e829d65b6a0cbb49573338a86772ec'

url = (
    f"https://api.the-odds-api.com/v4/historical/sports/{Sport}/events"
    f"?apiKey={API_KEY}"
    f"&date={date}"
    f"&regions={Regions}"
)

response = requests.get(url)
if response.status_code != 200:
    print(f"Failed to get events: {response.status_code}, {response.text}")
else:
    events = response.json()
    for event in events:
        print(event['id'], event['commence_time'], event['home_team'], event['away_team'])

Failed to get events: 401, {"message":"Historical odds are only available on paid usage plans. See usage plans at https://the-odds-api.com","error_code":"HISTORICAL_UNAVAILABLE_ON_FREE_USAGE_PLAN","details_url":"https://the-odds-api.com/liveapi/guides/v4/api-error-codes.html#historical-unavailable-on-free-usage-plan"}

### Grabs players odds for the day

In [1]:
from NBAPropFinder.NBAPropFinder import NBAPropFinder

nba_props = NBAPropFinder()

Scraping Odds API...
Organizing Data...

In [79]:
prizePicks = nba_props.dataframe
prizePicks
# df.to_csv('./PROPS_DATA/Playoffs_PP(5_13_25)')

,BOOKMAKER,CATEGORY,NAME,OVER/UNDER,LINE,ODDS
0,PrizePicks,player_points,Myles Turner,Over,13.5,-137
1,PrizePicks,player_points,Myles Turner,Under,13.5,-137
2,PrizePicks,player_points,T.J. McConnell,Over,6.5,-137
3,PrizePicks,player_points,T.J. McConnell,Under,6.5,-137
4,PrizePicks,player_points,Luguentz Dort,Over,10.0,-137
...,...,...,...,...,...,...
408,DraftKings Pick6,player_blocks_steals,Chet Holmgren,Under,2.5,-137
409,DraftKings Pick6,player_blocks_steals,Luguentz Dort,Over,1.5,-137
410,DraftKings Pick6,player_blocks_steals,Luguentz Dort,Under,1.5,-137
411,DraftKings Pick6,player_blocks_steals,Cason Wallace,Over,1.5,-137
412,DraftKings Pick6,player_blocks_steals,Cason Wallace,Under,1.5,-137

In [3]:
prizePicks.to_csv('./PROPS_DATA/Playoffs_PP_US(6_7_25).csv')

### Grab player data using fetchplayerstats class

In [1]:
from NBAData.fetchPlayersStats import FetchPlayersStats

nba = FetchPlayersStats()
data = nba.getCompleteStats(season='2024-25', season_type='Playoffs', sleep_time=0.1, max_workers=6)
data

Fetching player stats...
Basic data completed for 2024-25
Fetching advanced player stats...
Fetched advanced stats for 1 of 78 games
Fetched advanced stats for 2 of 78 games
Fetched advanced stats for 3 of 78 games
Fetched advanced stats for 4 of 78 games
Fetched advanced stats for 5 of 78 games
Fetched advanced stats for 6 of 78 games
Fetched advanced stats for 7 of 78 games
Fetched advanced stats for 8 of 78 games
Fetched advanced stats for 9 of 78 games
Fetched advanced stats for 10 of 78 games
Fetched advanced stats for 11 of 78 games
Fetched advanced stats for 12 of 78 games
Fetched advanced stats for 13 of 78 games
Fetched advanced stats for 14 of 78 games
Fetched advanced stats for 15 of 78 games
Fetched advanced stats for 16 of 78 games
Fetched advanced stats for 17 of 78 games
Fetched advanced stats for 18 of 78 games
Fetched advanced stats for 19 of 78 games
Fetched advanced stats for 20 of 78 games
Fetched advanced stats for 21 of 78 games
Fetched advanced stats for 22 of 78 games
Fetched advanced stats for 23 of 78 games
Fetched advanced stats for 24 of 78 games
Fetched advanced stats for 25 of 78 games
Fetched advanced stats for 26 of 78 games
Fetched advanced stats for 27 of 78 games
Fetched advanced stats for 28 of 78 games
Fetched advanced stats for 29 of 78 games
Fetched advanced stats for 30 of 78 games
Fetched advanced stats for 31 of 78 games
Fetched advanced stats for 32 of 78 games
Fetched advanced stats for 33 of 78 games
Fetched advanced stats for 34 of 78 games
Fetched advanced stats for 35 of 78 games
Fetched advanced stats for 36 of 78 games
Fetched advanced stats for 37 of 78 games
Fetched advanced stats for 38 of 78 games
Fetched advanced stats for 39 of 78 games
Fetched advanced stats for 40 of 78 games
Fetched advanced stats for 41 of 78 games
Fetched advanced stats for 42 of 78 games
Fetched advanced stats for 43 of 78 games
Fetched advanced stats for 44 of 78 games
Fetched advanced stats for 45 of 78 games
Fetched advanced stats for 46 of 78 games
Fetched advanced stats for 47 of 78 games
Fetched advanced stats for 48 of 78 games
Fetched advanced stats for 49 of 78 games
Fetched advanced stats for 50 of 78 games
Fetched advanced stats for 51 of 78 games
Fetched advanced stats for 52 of 78 games
Fetched advanced stats for 53 of 78 games
Fetched advanced stats for 54 of 78 games
Fetched advanced stats for 55 of 78 games
Fetched advanced stats for 56 of 78 games
Fetched advanced stats for 57 of 78 games
Fetched advanced stats for 58 of 78 games
Fetched advanced stats for 59 of 78 games
Fetched advanced stats for 60 of 78 games
Fetched advanced stats for 61 of 78 games
Fetched advanced stats for 62 of 78 games
Fetched advanced stats for 63 of 78 games
Fetched advanced stats for 64 of 78 games
Fetched advanced stats for 65 of 78 games
Fetched advanced stats for 66 of 78 games
Fetched advanced stats for 67 of 78 games
Fetched advanced stats for 68 of 78 games
Fetched advanced stats for 69 of 78 games
Fetched advanced stats for 70 of 78 games
Fetched advanced stats for 71 of 78 games
Fetched advanced stats for 72 of 78 games
Fetched advanced stats for 73 of 78 games
Fetched advanced stats for 74 of 78 games
Fetched advanced stats for 75 of 78 games
Fetched advanced stats for 76 of 78 games
Fetched advanced stats for 77 of 78 games
Fetched advanced stats for 78 of 78 games
Merging player data...
Fetching team data...
Fetching team data for Atlanta Hawks (1 of 30)
Fetching team data for Boston Celtics (2 of 30)
Fetching team data for Cleveland Cavaliers (3 of 30)
Fetching team data for New Orleans Pelicans (4 of 30)
Fetching team data for Chicago Bulls (5 of 30)
Fetching team data for Dallas Mavericks (6 of 30)
Fetching team data for Denver Nuggets (7 of 30)
Fetching team data for Golden State Warriors (8 of 30)
Fetching team data for Houston Rockets (9 of 30)
Fetching team data for Los Angeles Clippers (10 of 30)
Fetching team data for Los Angeles Lakers (11 of 30)
Fetching team data for Miami Heat (12 of 30)
Fetching team data for Milwaukee Bucks (13 of 30)
Fetching team data for Minnesota Timberwolves (14 of 30)
Fetching team data for Brooklyn Nets (15 of 30)
Fetching team data for New York Knicks (16 of 30)
Fetching team data for Orlando Magic (17 of 30)
Error fetching team data for Orlando Magic: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
Fetching team data for Indiana Pacers (18 of 30)
Fetching team data for Philadelphia 76ers (19 of 30)
Fetching team data for Phoenix Suns (20 of 30)
Fetching team data for Portland Trail Blazers (21 of 30)
Fetching team data for Sacramento Kings (22 of 30)
Fetching team data for San Antonio Spurs (23 of 30)
Fetching team data for Oklahoma City Thunder (24 of 30)
Fetching team data for Toronto Raptors (25 of 30)
Fetching team data for Utah Jazz (26 of 30)
Fetching team data for Memphis Grizzlies (27 of 30)
Fetching team data for Washington Wizards (28 of 30)
Fetching team data for Detroit Pistons (29 of 30)
Fetching team data for Charlotte Hornets (30 of 30)

c:\Users\alexg\OneDrive\Documents\Prize-Picks-Prop-Predictor\NBAData\fetchPlayersStats.py:144: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(team_data, ignore_index=True)

Adding opponent statistics...
Adding offensive ratings...
Adding pace statistics...
Merging player and team data...
Complete stats processing finished!

,PLAYER_NAME,PLAYER_ID,MATCHUP,TEAM_ABBREVIATION,TEAM_ID,OPP_ABBREVIATION,HOME_GAME,GAME_ID,GAME_DATE,WL,...,OPP_DEF_RATING,OPP_STL,OPP_BLK,OPP_REB,OPP_FG_PCT,OPP_TEAM_ID,TEAM_OFF_RATING,TEAM_PACE,GAME_PACE,OPP_PACE
0,Nickeil Alexander-Walker,1629638,MIN @ LAL,MIN,1610612750,LAL,0,0042400161,2025-04-19,W,...,130.872483,5.0,4.0,38.0,0.397590,1.610613e+09,130.872483,89.40,89.72,90.04
1,Russell Westbrook,201566,DEN vs. LAC,DEN,1610612743,LAC,1,0042400171,2025-04-19,W,...,106.788711,7.0,6.0,44.0,0.500000,1.610613e+09,106.788711,104.88,103.46,102.04
2,Peyton Watson,1631212,DEN vs. LAC,DEN,1610612743,LAC,1,0042400171,2025-04-19,W,...,106.788711,7.0,6.0,44.0,0.500000,1.610613e+09,106.788711,104.88,103.46,102.04
3,Jalen Pickett,1629618,DEN vs. LAC,DEN,1610612743,LAC,1,0042400171,2025-04-19,W,...,106.788711,7.0,6.0,44.0,0.500000,1.610613e+09,106.788711,104.88,103.46,102.04
4,Michael Porter Jr.,1629008,DEN vs. LAC,DEN,1610612743,LAC,1,0042400171,2025-04-19,W,...,106.788711,7.0,6.0,44.0,0.500000,1.610613e+09,106.788711,104.88,103.46,102.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,Ben Sheppard,1641767,IND @ OKC,IND,1610612754,OKC,0,0042400401,2025-06-05,W,...,108.568075,14.0,6.0,39.0,0.397959,1.610613e+09,108.568075,102.24,103.40,104.56
1662,Cason Wallace,1641717,OKC vs. IND,OKC,1610612760,IND,1,0042400401,2025-06-05,L,...,105.202754,1.0,7.0,56.0,0.475610,1.610613e+09,105.202754,104.56,103.40,102.24
1663,Isaiah Hartenstein,1628392,OKC vs. IND,OKC,1610612760,IND,1,0042400401,2025-06-05,L,...,105.202754,1.0,7.0,56.0,0.475610,1.610613e+09,105.202754,104.56,103.40,102.24
1664,T.J. McConnell,204456,IND @ OKC,IND,1610612754,OKC,0,0042400401,2025-06-05,W,...,108.568075,14.0,6.0,39.0,0.397959,1.610613e+09,108.568075,102.24,103.40,104.56
1665,Luguentz Dort,1629652,OKC vs. IND,OKC,1610612760,IND,1,0042400401,2025-06-05,L,...,105.202754,1.0,7.0,56.0,0.475610,1.610613e+09,105.202754,104.56,103.40,102.24

In [9]:
data = pd.read_csv('PLAYER_DATA/PLAYOFFS_25.csv')
data = data.drop(columns=['Unnamed: 0'])
data.head()

,PLAYER_NAME,PLAYER_ID,MATCHUP,TEAM_ABBREVIATION,TEAM_ID,OPP_ABBREVIATION,HOME_GAME,AWAY_GAME,GAME_ID,GAME_DATE,...,OPP_DEF_RATING,OPP_STL,OPP_BLK,OPP_REB,OPP_FG_PCT,OPP_TEAM_ID,TEAM_OFF_RATING,TEAM_PACE,GAME_PACE,OPP_PACE
0,Nickeil Alexander-Walker,1629638,MIN @ LAL,MIN,1610612750,LAL,0,1,42400161,2025-04-19,...,130.872483,5.0,4.0,38.0,0.397590,1610612747,130.872483,89.40,89.72,90.04
1,Jamal Murray,1627750,DEN vs. LAC,DEN,1610612743,LAC,1,0,42400171,2025-04-19,...,106.788711,7.0,6.0,44.0,0.500000,1610612746,106.788711,104.88,103.46,102.04
2,Ivica Zubac,1627826,LAC @ DEN,LAC,1610612746,DEN,0,1,42400171,2025-04-19,...,107.800862,11.0,1.0,45.0,0.436170,1610612743,107.800862,102.04,103.46,104.88
3,Christian Braun,1631128,DEN vs. LAC,DEN,1610612743,LAC,1,0,42400171,2025-04-19,...,106.788711,7.0,6.0,44.0,0.500000,1610612746,106.788711,104.88,103.46,102.04
4,Tobias Harris,202699,DET @ NYK,DET,1610612765,NYK,0,1,42400121,2025-04-19,...,108.949416,12.0,9.0,36.0,0.526882,1610612752,108.949416,102.80,102.14,101.48

In [10]:
data['OPP_TEAM_ID'] = data['OPP_TEAM_ID'].fillna(0).astype(int)
data

,PLAYER_NAME,PLAYER_ID,MATCHUP,TEAM_ABBREVIATION,TEAM_ID,OPP_ABBREVIATION,HOME_GAME,AWAY_GAME,GAME_ID,GAME_DATE,...,OPP_DEF_RATING,OPP_STL,OPP_BLK,OPP_REB,OPP_FG_PCT,OPP_TEAM_ID,TEAM_OFF_RATING,TEAM_PACE,GAME_PACE,OPP_PACE
0,Nickeil Alexander-Walker,1629638,MIN @ LAL,MIN,1610612750,LAL,0,1,42400161,2025-04-19,...,130.872483,5.0,4.0,38.0,0.397590,1610612747,130.872483,89.40,89.72,90.04
1,Jamal Murray,1627750,DEN vs. LAC,DEN,1610612743,LAC,1,0,42400171,2025-04-19,...,106.788711,7.0,6.0,44.0,0.500000,1610612746,106.788711,104.88,103.46,102.04
2,Ivica Zubac,1627826,LAC @ DEN,LAC,1610612746,DEN,0,1,42400171,2025-04-19,...,107.800862,11.0,1.0,45.0,0.436170,1610612743,107.800862,102.04,103.46,104.88
3,Christian Braun,1631128,DEN vs. LAC,DEN,1610612743,LAC,1,0,42400171,2025-04-19,...,106.788711,7.0,6.0,44.0,0.500000,1610612746,106.788711,104.88,103.46,102.04
4,Tobias Harris,202699,DET @ NYK,DET,1610612765,NYK,0,1,42400121,2025-04-19,...,108.949416,12.0,9.0,36.0,0.526882,1610612752,108.949416,102.80,102.14,101.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,Andrew Nembhard,1629614,IND @ OKC,IND,1610612754,OKC,0,1,42400401,2025-06-05,...,108.568075,14.0,6.0,39.0,0.397959,1610612760,108.568075,102.24,103.40,104.56
1662,Kenrich Williams,1629026,OKC vs. IND,OKC,1610612760,IND,1,0,42400401,2025-06-05,...,105.202754,1.0,7.0,56.0,0.475610,1610612754,105.202754,104.56,103.40,102.24
1663,Shai Gilgeous-Alexander,1628983,OKC vs. IND,OKC,1610612760,IND,1,0,42400401,2025-06-05,...,105.202754,1.0,7.0,56.0,0.475610,1610612754,105.202754,104.56,103.40,102.24
1664,Myles Turner,1626167,IND @ OKC,IND,1610612754,OKC,0,1,42400401,2025-06-05,...,108.568075,14.0,6.0,39.0,0.397959,1610612760,108.568075,102.24,103.40,104.56
1665,T.J. McConnell,204456,IND @ OKC,IND,1610612754,OKC,0,1,42400401,2025-06-05,...,108.568075,14.0,6.0,39.0,0.397959,1610612760,108.568075,102.24,103.40,104.56

In [11]:
from NBAData.features import add_PTS_features
data['STARTING'] = data['START_POSITION'].apply(lambda x: 1 if x in ['G','F','C'] else 0)
data = add_PTS_features(data)
data

,PLAYER_NAME,PLAYER_ID,MATCHUP,TEAM_ABBREVIATION,TEAM_ID,OPP_ABBREVIATION,HOME_GAME,AWAY_GAME,GAME_ID,GAME_DATE,...,USG_PCT_LAST_5,USG_PCT_LAST_7,PTS_LAST_3,PTS_LAST_5,PTS_LAST_7,STD_PTS_LAST_3,STD_PTS_LAST_5,STD_PTS_LAST_7,PLAYER_HOME_AVG_PTS,PLAYER_AWAY_AVG_PTS
22,LeBron James,2544,LAL vs. MIN,LAL,1610612747,MIN,1,0,42400161,2025-04-19,...,0.28,0.28,19.00,19.00,19.00,NaN,NaN,NaN,19.00,NaN
256,LeBron James,2544,LAL vs. MIN,LAL,1610612747,MIN,1,0,42400162,2025-04-22,...,0.28,0.28,20.00,20.00,20.00,1.41,1.41,1.41,20.00,NaN
430,LeBron James,2544,LAL @ MIN,LAL,1610612747,MIN,0,1,42400163,2025-04-25,...,0.28,0.28,26.00,26.00,26.00,10.44,10.44,10.44,NaN,38.00
618,LeBron James,2544,LAL @ MIN,LAL,1610612747,MIN,0,1,42400164,2025-04-27,...,0.26,0.26,28.67,26.25,26.25,8.62,8.54,8.54,NaN,32.50
782,LeBron James,2544,LAL vs. MIN,LAL,1610612747,MIN,1,0,42400165,2025-04-30,...,0.27,0.27,29.00,25.40,25.40,8.19,7.64,7.64,20.67,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,Quinten Post,1642366,GSW @ MIN,GSW,1610612744,MIN,0,1,42400231,2025-05-06,...,0.14,0.14,1.67,4.60,5.29,2.89,5.32,5.35,NaN,3.40
1056,Quinten Post,1642366,GSW @ MIN,GSW,1610612744,MIN,0,1,42400232,2025-05-08,...,0.08,0.12,0.00,2.00,3.57,0.00,2.74,4.72,NaN,2.83
1118,Quinten Post,1642366,GSW vs. MIN,GSW,1610612744,MIN,1,0,42400233,2025-05-10,...,0.03,0.10,0.00,1.00,3.29,0.00,2.24,4.89,5.00,NaN
1213,Quinten Post,1642366,GSW vs. MIN,GSW,1610612744,MIN,1,0,42400234,2025-05-12,...,0.06,0.10,1.67,1.00,2.14,2.89,2.24,2.67,5.00,NaN
1319,Quinten Post,1642366,GSW @ MIN,GSW,1610612744,MIN,0,1,42400235,2025-05-14,...,0.10,0.10,2.67,1.60,1.86,2.52,2.30,2.41,NaN,2.86

In [90]:
pointsProps = prizePicks[['NAME', 'CATEGORY','LINE']].loc[prizePicks['CATEGORY'] == 'player_points']
pointsProps

              NAME       CATEGORY  LINE
0     Myles Turner  player_points  13.5
1     Myles Turner  player_points  13.5
2   T.J. McConnell  player_points   6.5
3   T.J. McConnell  player_points   6.5
4    Luguentz Dort  player_points  10.0
..             ...            ...   ...
89   Cason Wallace  player_points   7.5
90   Aaron Wiggins  player_points   4.5
91   Aaron Wiggins  player_points   4.5
92      Obi Toppin  player_points  10.5
93      Obi Toppin  player_points  10.5

[94 rows x 3 columns]

### Prob

In [73]:
import scipy.stats as stats

df = data.loc[data['PLAYER_NAME'] == 'Myles Turner']
line = 13.5
standard_deviation = round(data['PTS'].std(), 2)
mean = round(df['PTS'].mean(), 2)
z_score = round((line - mean) / standard_deviation, 2)
chance = round(1 - stats.norm.cdf(z_score), 2)

breakeven = 0.5747
odds = 137
stake = 100
profit = (100/odds) * 100
ev = (chance * profit) - (1 - chance) * stake

if chance > breakeven:
    print(f"Positive EV: ${ev:.2f}. This is a statistically profitable bet!")
else:
    print(f"Negative EV: ${ev:.2f}. This bet is not statistically profitable.")

ev

Negative EV: $-1.39. This bet is not statistically profitable.

-1.3941605839416127

In [74]:
import numpy as np

simulated_points = np.random.normal(mean, standard_deviation, 10000)
prob = np.mean(simulated_points > 14.5)
print(f"Simulated Probability: {prob:.2%}")

Simulated Probability: 52.27%